.hidden.menu {
  display: none;
}

.masthead.segment {
  min-height: 700px;
  padding: 1em 0;
}

.masthead .logo.item img {
  margin-right: 1em;
}

.masthead .ui.menu .ui.button {
  margin-left: 0.5em;
}

.masthead .ui.header {
  font-weight: 300;
}

.masthead h1.ui.header {
  margin: 1em 0;
  font-size: 4rem;
}

.masthead h2.ui.header {
  margin-top: 3em;
  font-size: 4rem;
  letter-spacing: 0.5rem;
}

.masthead h3.ui.header {
  font-size: 1.7rem;
  letter-spacing: 0.1rem;
}

.ui.vertical.stripe {
  padding: 8em 0;
}

.ui.vertical.stripe h3 {
  font-size: 2em;
}

.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3 {
  margin-top: 3em;
}

.ui.vertical.stripe .floated.image {
  clear: both;
}

.ui.vertical.stripe p {
  font-size: 1.33em;
}

.ui.vertical.stripe .horizontal.divider {
  margin: 3em 0;
}

.ui.stripe.alternate {
  background-color: #f2f3f5;
}

.quote.stripe.segment {
  padding: 0;
}

.quote.stripe.segment .grid .column {
  padding-top: 5em;
  padding-bottom: 5em;
}

.footer.segment {
  padding: 5em 0;
}

.secondary.pointing.menu .toc.item {
  display: none;
}

@media only screen and (max-width: 700px) {
  .masthead.segment {
    min-height: 350px;
  }

  .masthead h1.ui.header {
    font-size: 2em;
    margin-top: 1.5em;
    font-weight: 300;
  }

  .masthead h2.ui.header {
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 2.5rem;
    letter-spacing: 0.25rem;
    font-weight: 300;
  }

  .masthead h3.ui.header {
    font-weight: 300;
  }
}

/* Code blocks (Fix a strange bug with prismjs) */
pre {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
  border-radius: 0.3em;
  background: #272822;
}
